<template lang="pug">
.page-view
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import io from 'socket.io-client';
import Header from '@/components/Header.vue';

@Component({
  components: {
    Header
  }
})
export default class AdminView extends Vue {
  socket: SocketIOClient.Socket;

  validate({ err, params, route }): boolean {
    console.log(`Token: ${process.env.token}`);

    return params.token === process.env.token;
  }

  asyncData({ app, redirect }): void {
    app.$cookies.set('token', process.env.token);

    redirect('/theater');
  }
}
</script>

<style lang="sass" scoped>
</style>
