<template lang="pug">
.page-view
  Editor.editor(
    v-if="sessionId"
    v-model="sourceCode"
    @submit="onSubmit"
  )
  .register-form(v-if="!sessionId")
    form.form(
      @submit.prevent="registerSession"
    )
      input.field(
        placeholder="Enter Your Name"
        v-model="displayName"
      )
      button.submit(
        type="submit"
        :disabled="!displayName"
      ) Continue
</template>

<script lang="ts">
import { Component, Watch, Vue } from 'nuxt-property-decorator';
import { throttle } from 'helpful-decorators';
import io from 'socket.io-client';
import shortid from 'shortid';
import Editor from '@/components/Editor.vue';

@Component({
  components: {
    Editor
  }
})
export default class EditorView extends Vue {
  socket: SocketIOClient.Socket;

  sourceCode = '';
  sessionId = '';
  displayName = '';

  @throttle(1000)
  @Watch('sourceCode')
  onChangeSourceCode(): void {
    const { sourceCode, sessionId } = this;

    this.socket.emit('editor:sourceCode', {
      sessionId,
      sourceCode
    });
  }

  mounted(): void {
    this.socket = io();

    this.socket.on('request:result', () => {
      if (!this.sessionId) return;

      let result;
      const log = console.log;

      console.log = (...args) => {
        result = args;
      }

      try {
        eval(this.sourceCode);

        this.socket.emit('response:result', {
          sessionId: this.sessionId,
          result
        });
      } catch (err) {
        this.socket.emit('response:result', {
          sessionId: this.sessionId,
          error: err
        });
      } finally {
        console.log = log;
      }
    });

    this.socket.on('session:check', () => {
      const { sessionId, displayName, sourceCode } = this;

      if (!sessionId || !displayName) return;

      this.socket.emit('editor:connect', {
        sessionId,
        displayName,
        sourceCode
      });
    });

    window.onbeforeunload = () => {
      const { sessionId } = this;

      if (!sessionId) return;

      return true;
    }

    window.onunload = () => {
      const { sessionId } = this;

      this.socket.emit('editor:leave', {
        sessionId
      });
    }
  }

  registerSession(): void {
    const { displayName } = this;

    if (this.sessionId || !displayName) return;

    const sessionId = shortid.generate();
    this.sessionId = sessionId;

    this.socket.emit('editor:connect', {
      sessionId,
      displayName
    });
  }

  onSubmit(): void {
    try {
      eval(this.sourceCode);
    } catch (err) {
      console.error(err);
    }
  }
}
</script>

<style lang="sass" scoped>
.page-view
  & > .editor
    position: absolute
    top: 64px
    left: 0
    bottom: 0
    width: 100%

.register-form
  &
    width: 320px
    margin: 0 auto

  & > .form
    display: flex
    align-items: center
    flex-direction: column
    margin-top: 18%

  & > .form > .field
    box-sizing: border-box
    width: 100%
    height: 52px
    padding: 0 1.2em
    margin-bottom: 24px
    font-family: 'Source Code Pro', monospace
    font-size: 16px
    text-align: center
    border: 1px solid #eee
    border-radius: 4px
    box-shadow: 1px 2px 4px -2px rgba(#000, 0.2)

  & > .form > .submit
    width: 120px
    height: 28px
    font-family: 'Source Code Pro', monospace
    font-weight: bold
    color: #aaa
    border: 1px solid #ccc
    background: transparent
    cursor: pointer
    transition: all 0.2s ease

  & > .form > .submit:disabled
    opacity: 0.5
    cursor: default
</style>
