<template lang="pug">
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';

@Component
export default class  extends Vue {
  asyncData({ redirect }): void {
    redirect('/editor');
  }
}
</script>

<style lang="sass" scoped>
</style>
