<template lang="pug">
div
  Board.player-board
  transition-group.player-list(
    appear
    tag="ul"
    name="players"
  )
    li.player(
      v-for="obj in sessionList"
      :key="obj.sessionId"
    )
      Player(
        :displayName="obj.displayName"
        :sourceCode="obj.sourceCode"
        :result="obj.result"
      )
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import io from 'socket.io-client';
import Player from '@/components/Player.vue';
import Board from '@/components/Board.vue';

@Component({
  components: {
    Player,
    Board
  }
})
export default class Theater extends Vue {
  socket: any;

  sessionList: any = {};

  question: any;

  validate({ app }): boolean {
    return app.$cookies.get('token') === process.env.token;
  }

  mounted(): void {
    this.socket = io();

    this.socket.emit('theater:connect');

    this.socket.on('session:join', (payload) => {
      const { sessionId, displayName, sourceCode } = payload;

      this.$set(this.sessionList, sessionId, {
        sessionId,
        displayName,
        sourceCode,
        result: ''
      });
    });

    this.socket.on('session:leave', (payload) => {
      const { sessionId } = payload;

      this.$delete(this.sessionList, sessionId);
    });

    this.socket.on('theater:update.question', (question) => {
      this.question = question;
    });

    this.socket.on('theater:sourceCode', (payload) => {
      const { sessionId, sourceCode } = payload;
      const session = this.sessionList[sessionId];

      if (!session) return;

      const { displayName, result } = session;

      this.$set(this.sessionList, sessionId, {
        sessionId,
        displayName,
        sourceCode,
        result
      });
    });

    this.socket.on('theater:update.result', (payload) => {
      const { sessionId, result } = payload;

      this.sessionList[sessionId].result = result;
    });

    setInterval(() => {
      this.socket.emit('theater:sync.result');
    }, 5000);
  }
}
</script>

<style lang="sass" scoped>
.player-board
  &
    margin: 0 8%

.player-list
  &
    display: flex
    flex-wrap: wrap
    padding: 0 8%

  & > .player
    width: 50%

.players-enter-active,
.players-leave-active
  &
    transition: all 0.5s ease

.players-enter,
.players-leave-to
  opacity: 0
  transform: translateY(12px)
</style>
