<template lang="pug">
.editor-wrapper
  textarea.editor(
    placeholder="input your code"
    :value="value"
    @input="onInput"
    @keydown.enter="onKeyDown"
    @keydown.83="onKeyDown"
    @keydown.9="onPressTab"
    @keydown.13="onPressEnter"
  )
  pre.preview(
    v-highlightjs="value"
  )
    code.code.javascript
  p.placeholder
    | コードを入力してください。
    | ⌘+Enterで入力内容を実行できます。
</template>

<script lang="ts">
import { Component, Emit, Model, Vue } from 'nuxt-property-decorator';
import consola from 'consola';

@Component
export default class Editor extends Vue {
  @Model('input', { type: String, required: true }) value: string;

  @Emit() input(value: string): void {}
  @Emit() submit(): void {}

  mounted(): void {
    consola.info('最後の console.log の内容がシアターへ表示されます。');
    consola.info('バリデーションなどは入っていないので入力内容にはお気をつけください。');

    if (!/Chrome/.test(navigator.userAgent)) {
      consola.warn('LIVE CODING THEATER supports Google Chrome onlys.');
    }
  }

  onInput(e): void {
    this.input(e.target.value);
  }

  onKeyDown(e): void {
    if (e.metaKey) {
      e.preventDefault();

      this.submit();
    }
  }

  onPressTab(e): void {
    e.preventDefault();

    const { target } = e;

    const { value } = this;
    const start = target.selectionStart;
    const end = target.selectionEnd;

    if (start === end) {
      this.input(`${value.slice(0, start)}  ${value.slice(start)}`);
      target.startSelection = start + 2;
      target.selectionend = start + 2;

      return;
    }

    let inSelection = false;
    let lineNumber = 0;
    const selectedLines: number[] = [];

    for (let i = 0; i < value.length; i++) {
      if (i === start) {
        inSelection = true;
        selectedLines.push(lineNumber);
      }

      if (i >= end) {
        inSelection = false;
      }

      if (value[i] == '\n') {
        lineNumber++;

        if (inSelection) {
          selectedLines.push(lineNumber);
        }
      }
    }

    const lines = value.split('\n');

    for (let i = 0; i < selectedLines.length; i++) {
      lines[selectedLines[i]] = `  ${lines[selectedLines[i]]}`;
    }

    this.input(lines.join('\n'));
    target.selectionStart = start;
    target.selectionEnd = end + 2;
  }

  onPressEnter(e): void {
    /*
    this.$nextTick(() => {
      const { target } = e;
      const { value } = this;

      let thisLine = '';
      let indentation = 0;
      const start = target.selectionStart;

      for (let i = start - 2; i >= 0 && value[i] !== '\n'; i--) {
        thisLine = value[i] + thisLine;
      }

      for (let i = 0; i < thisLine.length && thisLine[i] === ' '; i++) {
        indentation++;
      }

      this.input(`${value.slice(0, start)}\n${' '.repeat(indentation)}${value.slice(start)}`);
      target.selectionStart = start + indentation;
      target.selectionEnd = start + indentation;
    });
    */
  }
}
</script>

<style lang="sass" scoped>
.editor-wrapper
  &
    position: relative
    background: #fff
    overflow: auto

  & > .preview
    margin: 0

  & > .editor,
  & > .preview > .code
    width: 100%
    height: auto
    padding: 20px
    margin: 0
    overflow: visible
    font-family: 'Source Code Pro', monospace
    font-size: 14px
    line-height: 1.5
    border: none

  & > .editor
    z-index: 2
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    box-sizing: border-box
    outline: none
    resize: none
    color: #4d4d4c
    text-fill-color: transparent
    -webkit-text-fill-color: transparent
    background: transparent

  & > .editor:placeholder-shown ~ .placeholder
    visibility: visible

  & > .preview > .code
    z-index: 1
    width: 100%
    box-sizing: border-box
    text-overflow: wrap

  & > .placeholder
    position: absolute
    top: 0
    left: 0
    padding: 20px
    visibility: hidden
    pointer-events: none
    font-family: 'Source Code Pro', monospace
    font-size: 14px
    color: rgba(#4d4d4c, 0.5)
    line-height: 1.5
    white-space: pre
</style>
