<template lang="pug">
header.header-block
  h1.logo 🎞 LIVE CODING THEATER
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';

@Component
export default class Header extends Vue {}
</script>

<style lang="sass" scoped>
.header-block
  &
    z-index: 10
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 64px
    font-size: 18px
    box-shadow: 0 -1px 4px rgba(#000, 0.2)

  & > .logo
    font-family: 'Charm', cursive
</style>
