<template lang="pug">
.player-card
  .sourcecode
    .name
      | Code by
      span.bold {{displayName}}
    .code
      pre(v-highlightjs="sourceCode")
        code.code-block.javascript
  .preview
    .label Preview
    .result
      pre(v-highlightjs="safePreview(result)")
        code.code-block.javascript
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

@Component
export default class Player extends Vue {
  @Prop({ type: String, required: true }) displayName: string;
  @Prop({ type: String }) sourceCode: string;
  @Prop({ required: true }) result: string;

  safePreview(value) {
    const _value = Array.isArray(value) ? value[0] : value;

    try {
      return JSON.stringify(_value);
    } catch (err) {
      return '';
    }
  }
}
</script>

<style lang="sass" scoped>
.player-card
  &
    margin: 20px
    border-radius: 4px
    border: 1px solid rgba(#000, 0.05)
    box-shadow: 2px 2px 4px -2px rgba(#000, 0.5)

  & > .sourcecode > .name
    display: inline-block
    max-width: 20em
    padding: 4px 12px
    overflow: hidden
    font-size: 12px
    color: rgba(#000, 0.6)
    text-overflow: ellipsis
    white-space: nowrap
    background: #eee
    border-bottom-right-radius: 4px

  & > .sourcecode > .name > .bold
    margin-left: 0.4em
    font-size: 14px
    font-weight: bold

  & > .preview
    border-top: 1px solid #eee

  & > .preview > .label
    display: inline-block
    max-width: 20em
    padding: 2px 12px
    overflow: hidden
    font-size: 12px
    color: rgba(#000, 0.6)
    text-overflow: ellipsis
    white-space: nowrap
    background: #eee
    border-bottom-right-radius: 4px

.code-block
  &
    padding: 18px
    max-height: 5em
    min-height: 1em
    font-family: 'Source Code Pro', monospace
    font-size: 14px
    line-height: 1.5
</style>
