<template lang="pug">
div
  Header
  nuxt
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import Header from '@/components/Header.vue';

@Component({
  components: {
    Header
  }
})
export default class DefaultLayout extends Vue {
}
</script>

<style lang="sass" scoped>
</style>
